VITE_API_URL=VITE_API_URL=http://stekoratech.com/api
VITE_EMAILJS_SERVICE_ID=service_your_id
VITE_EMAILJS_CONTACT_TEMPLATE_ID=template_admin_id
VITE_EMAILJS_CUSTOMER_TEMPLATE_ID=template_customer_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
